/* remember to add a link in the head of Site.Master:
        <link href="Content/Customize.css" rel="stylesheet" />
    otherwise you can't use this stuff
*/

/* CSS-Grid form formatting
    grid specifies that CSS-Grid is used
    gap distance between row/column
    template-columns allows one to specify the physical of each column in the grid
*/
.grid-form {
display: grid;
grid-row-gap: 7px;
/* grid template colums will create a colum for each value entered, the line below will have 3 colums, first one is as wide as the largest item in column, second is 15px, third is auto */
grid-template-columns: max-content 15px auto; 
grid-column-gap: 10px;
}

/* the > * means everything within grid-form
the grid-column has 2 parameter values column to start in / span 2 more columns (in total the row will have 3 columns)
*/
.grid-form > * {
grid-column: 2 / span 2; /*starts on column 2, spans 2 more columns, 3 columns total. value before / is start, value after / is end*/
}

/* refining items within grid-form using specific html tag names
any label tag within grid-form will start in column 1
*/
.grid-form > label {
grid-column: 1;
text-align: right;
}

.grid-form > h3 {
grid-column: 1 / span 3; start /*in column one, go three more columns, 4 total*/
}

.grid-form > input[type=checkbox] {
grid-column: 2;
}

/* should ask don how this code works, couldn't figure it out */
.grid-form > input[type=checkbox] + label {
grid-column: 3;
text-align: left;
}
